:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
}

::selection {
  @apply bg-accent text-accent-content;
}

html {
  @apply box-border overflow-hidden select-none;
}

:root {
  @apply bg-transparent;
}

body {
  @apply flex items-center justify-start min-h-screen font-mono p-0 m-0;
}

main {
  @apply h-screen bg-base-100 overflow-hidden w-full grid grid-cols-1 place-content-start;
}

main > * {
  @apply px-4;
}
