---
import Layout from "../layouts/Layout.astro";
import ThemeChanger from "../components/ThemeChanger.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-accent"> Welcome to Astro</hjson>
    <p class="text-primary">
      Astro is a new kind of static site builder that delivers lightning-fast
      performance without sacrificing the developer experience.
    </p>
   <ThemeChanger />
  </main>
</Layout>
