---
import Layout from "../layouts/Layout.astro";
import ThemeChanger from "../components/ThemeChanger.astro";
import Navbar from "../components/Navbar.astro";
import Titlebar from "../components/TitleBar.astro";
---

<Layout title="Tweaked">
  <Navbar />
  <main>
    <Titlebar />
    <h1 class="text-accent">Settings</h1>
    <br />
    <ThemeChanger />
  </main>
</Layout>
