---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Titlebar from "../components/TitleBar.astro";
import Table from "../components/Table";
import Migrationbar from "../components/Migrationbar";
import MigrationToggle from "../components/MigrationToggle";
---

<Layout title="Tweaked">
  <Navbar />
  <div class="flex w-full px-0 mx-0 overflow-hidden">
    <main>
      <Titlebar>
        <MigrationToggle client:only="react" />
      </Titlebar>
      <div class="mt-2 h-full w-full">
        <Table client:only="react" />
      </div>
    </main>

    <Migrationbar client:only="react" />
  </div>
</Layout>
