<nav class="bg-base-300/90 w-60 flex flex-col pt-10 px-4">
  <a class="btn btn-sm btn-block btn-ghost justify-start" href="/">Home</a>
  <a class="btn btn-sm btn-block btn-ghost justify-start" href="/settings"
    >Settings</a
  >
</nav>
