---
import "../styles/global.css";
// import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="automators">
  <head>
    <script is:inline>
      // This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme"),
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
    <script>
      // hotkeys
      const hotKeys = (e: any) => {
        let windowEvent = window.event ? event : e;
        // listen for cmd + ,
        if (windowEvent.keyCode == 188 && windowEvent.metaKey) {
          // go to the settings page
          window.location.href = "/settings";
        }
      };

      document.onkeydown = hotKeys;
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="h-screen w-screen rounded-xl flex flex-row">
    <slot />
  </body>
</html>
